@import url('https://fonts.google.com/specimen/Cousine');

body {
    margin: 0px;
    padding: 0px;
    font-family:'Cousine', sans-serif;
    font-size: 22px;

    }


main {
    padding: 16px;

}

footer {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
  }

  nav {
    padding: 16px;
    border-bottom: 1px solid black;
  }


  img {
    width: 200px;
    height: 200px;
  }



.vegetarian-tacos-item {
  color: green;
  box-shadow: 12px 12px 2px 1px rgba(206, 10, 10, 0.534)
}

.vegetarian-tacos-item:hover {
  color: rgb(0, 45, 128);

}

.is-column-tacos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.top-background {
  background-color: red;
}

.white {
  color: blue;
  font-weight:bold;
}

a {
  text-decoration: none
}

.recipe-color {
  color: green;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(187, 255, 0), 0 0 0.2em rgb(81, 255, 0);

}



footer {
  height: 50px;
  background-color: #b8cc64;
  padding: 20px;
  display: flex;
  align-items: center;
  font-weight:bold;
}



tr:nth-child(2),
tr:nth-child(4) {
  background-color: #e8e4e4;
}


img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0,0,0,0.5);



}


.checked {
  color: orange;

}


h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.center-color {
  text-align: center;
  color:#b8cc64;
}
